* {
  font-family: "Titillium Web", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.foo {
	width: 150px;
}

.digit_clock {
  display: inline-block;
  min-width: 132px;
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: black;
  border-radius: 5px;
  border-bottom: 1px solid #E0E0E0;
  padding: 0 10px 0 10px; 
  background: rgba(200,200,200,0.3) /*linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(180,180,180,0.5) 100%);*/
}

.timetable {
	margin: 5px 0 0 0;
	line-height: 26px;
}

.titillium-web-extralight {
  font-family: "Titillium Web", serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  font-style: italic;
}
